/* native tags */
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(51, 51, 51);
    padding: 20px;
}
header h1{
    color: white;
    margin: 0;
}
section{
    padding-top: 20px;
}
main{
    width: 70%;
    margin: auto;
}
button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;  
    background: none;
	padding: 12px 22px; 
    margin-top: 10px; 
}
img{
    width: 150px;
    height: 150px;
}


.textGrouping{
    display: flex;
    justify-content: space-between;
}

/* components */
.component{
    background-color: rgb(251, 521, 521);
    border: 1px solid rgb(235, 235, 235);
    border-radius:15px;
    padding: 20px;
}
.smallComponent{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.groupedComponents{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
/* buttons */
.green-button{
    background-color: rgb(75, 241, 161);
    border:2px solid rgb(98, 193, 148);
}
.lightblue-button{
    background-color: rgb(76, 201, 241);
    border:2px solid rgb(65, 175, 211);
}
.yellow-button{
    background-color: rgb(237, 239, 76);
    border: 2px solid rgb(224, 229, 72);
}
.blue-button{
    background-color: rgb(77, 112, 240);
    border: 2px solid rgb(65, 175, 211);
}
.orange-button{
    background-color: orange;
    border: 2px solid rgb(224, 187, 116);
    visibility: hidden;
}
#loanP{
    visibility: hidden;
}